$black: #303437
$dark-blue: #004B91
$light-blue: #2362CB
$red: #EB2915

@mixin bg-center
  background-position: center
  background-repeat: no-repeat
  @content

// About category
.other-slogan
  margin: 20px 0 30px 0
  & br
    display: none
  & .slogan__subtitle
    font-weight: 600
    font-size: 16px
    line-height: 115%
    color: $light-blue
    margin-bottom: 8px
  & .slogan__title
    font-weight: 700
    font-size: 28px
    line-height: 120%
    margin-bottom: 8px
  & .slogan__description
    list-style: none
    & li
      padding-left: 10px
      display: flex
      align-items: flex-start
      &:before
        content: ''
        display: block
        min-width: 6px
        min-height: 6px
        max-width: 6px
        max-height: 7px
        margin: 12px 10px 0 0
        background: $black
        border-radius: 50%
  & .btn-default
    margin-top: 25px
    display: inline-block
    padding: 0 26px
  & a
    color: $light-blue
    text-decoration: underline
  & .slogan__link_bottom
    display: inline-block
    margin-top: 20px
    font-weight: 600


.about-category__header-slider
  padding: 0
  margin-bottom: 20px

.cart-columns
  display: grid
  grid-template-columns: 1fr
  gap: 20px 0
  margin-bottom: 50px
  & .cart-item
    & a
      display: block
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)
      border-radius: 0 0 5px 5px
      & .img
        width: 100%
        padding-bottom: 58.66%
        position: relative
        & img
          position: absolute
          left: 50%
          top: 50%
          transform: translate(-50%, -50%)
          width: 100%
          height: 100%
          object-fit: cover
          border-radius: 5px 5px 0 0
      & .cart-title
        background: white
        padding: 22px 19px 22px 25px
        display: flex
        align-items: center
        justify-content: space-between
        border-radius: 0 0 5px 5px
        &:after
          content: ''
          display: block
          min-width: 40px
          min-height: 40px
          max-width: 40px
          max-height: 40px
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9974 6.6665L17.6474 9.0165L26.9474 18.3332H6.66406V21.6665H26.9474L17.6474 30.9832L19.9974 33.3332L33.3307 19.9998L19.9974 6.6665Z' fill='%23303437'/%3E%3C/svg%3E")
          @include bg-center
            background-size: contain
  &._big
    grid-template-columns: 1fr
    & .cart-item
      & a
        & .img
          width: 100%
          padding-bottom: 45%


//Finances
.other-header
  background: $dark-blue
  display: flex
  flex-direction: column-reverse
  align-items: center
  justify-content: center
  padding: 20px
  min-height: 600px
  & .left
    & .title
      color: white
      text-align: center
      margin-bottom: 12px
    & .desc
      color: white
      text-align: center

  & .right
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    max-width: 325px
    margin-bottom: 40px
    & img
      width: 100%

.animate__flipInX
  backface-visibility: visible !important
  animation-name: flipInX

@keyframes flipInX
  from
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0

  40%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in

  60%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1

  80%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

  to
    -webkit-transform: perspective(400px)
    transform: perspective(400px)

.download-cart
  padding: 20px 20px 20px 55px
  background: #F7F7F7
  border-radius: 2px
  margin-bottom: 20px
  position: relative
  &:before
    content: ''
    position: absolute
    top: 20px
    left: 20px
    width: 24px
    height: 24px
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 2C4.9 2 4.01 2.9 4.01 4L4 20C4 21.1 4.89 22 5.99 22H18C19.1 22 20 21.1 20 20V8L14 2H6ZM13 9V3.5L18.5 9H13Z' fill='%232362CB'/%3E%3C/svg%3E")
    @include bg-center
      background-size: contain
  &:last-child
    margin-bottom: 0
  & .desc
    font-weight: 500
    line-height: 135%
    margin-bottom: 16px
  & .download
    text-transform: uppercase
    color: $light-blue
    display: flex
    align-items: center
    font-weight: 600
    font-size: 16px
    line-height: 120%
    &:before
      content: ''
      min-width: 24px
      min-height: 24px
      max-width: 24px
      max-height: 24px
      margin-right: 6px
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 9H15V3H9V9H5L12 16L19 9ZM5 18V20H19V18H5Z' fill='%232362CB'/%3E%3C/svg%3E")
      @include bg-center
        background-size: contain


.finances-files
  & .tabs
    padding: 0
    margin-bottom: 30px
  & .tab-content
    & .tab-element
      display: none
      &.active
        display: block
        & .item
          animation: flipInX 1s
      //& .item


.help-banner
  background: $dark-blue
  border-radius: 4px
  padding: 40px 20px 0 20px
  display: flex
  flex-direction: column
  margin-bottom: 40px
  &:after
    content: ''
    display: block
    width: 100%
    padding-bottom: 74.1%
    background: url("../img/other/finance-bg_mob.png")
    background-position: center bottom
    background-repeat: no-repeat
    background-size: contain
  & .text
    & .h3
      color: white
      text-align: center
      margin-bottom: 16px
    & .description
      font-weight: 400
      font-size: 14px
      line-height: 150%
      margin-bottom: 16px
      text-align: center
      color: white
      & a
        color: white
        font-size: 16px
        font-weight: 700
    & .callback-button
      font-weight: 600
      font-size: 16px
      line-height: 120%
      text-align: center
      border: 1px solid #FFFFFF
      border-radius: 4px
      padding: 18px 17px
      color: white
      text-transform: uppercase
      margin-bottom: 33px

//Factories
.factories-slogan
  margin-top: -20px!important
.other-filter
  padding: 25px 21px
  background: $dark-blue
  display: flex
  flex-direction: column
  gap: 20px 0
  margin-bottom: 23px
  & .select__toggle
    background: white
  & .btn-submit
    font-weight: 600
    font-size: 14px
    line-height: 18px
    color: white
    text-transform: uppercase
    text-align: center
    padding: 20px 0
    border: 1px solid #FFFFFF
    border-radius: 4px
    background: rgba(0,0,0,0)

.factories-content, .collection-content, .payment-delivery__content
  & .tabs
    padding: 0
    margin-bottom: 20px

  & .tab-content
    margin-bottom: 30px
    & .tab-element
      display: none
      grid-template-columns: 1fr
      grid-gap: 20px 0
      margin-bottom: 0
      &.active
        display: grid
      & .cart-item
        & a
          & .cart-title
            font-size: 20px
            line-height: 28px
            padding: 20px
            &:after
              display: none

.collection-content
  & .tab-content
    & .tab-element
      & .cart-item
        & a
          & .cart-title
            &:after
              display: block

.payment-delivery__content
  & .tab-content
    & .tab-element
      &.active
        display: block
      & .cart-columns__desc
        font-size: 16px
        margin-bottom: 30px
        max-width: 600px
      & .cart-item
        margin-bottom: 12px
        padding: 15px
        &:last-child
          margin-bottom: 0
        & .cart-item__top
          display: flex
          align-items: center
          justify-content: flex-start
          font-weight: 600
          font-size: 20px
          line-height: 120%
          cursor: pointer
          &:before
            content: ''
            min-width: 38px
            max-width: 38px
            min-height: 38px
            max-height: 38px
            margin-right: 12px
            border-radius: 2px
            transition: all .3s
            background-color: #F7F7FF
            background-repeat: no-repeat
            background-position: center
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4C11 3.44772 11.4477 3 12 3V3C12.5523 3 13 3.44772 13 4V20C13 20.5523 12.5523 21 12 21V21C11.4477 21 11 20.5523 11 20V4Z' fill='%232362CB'/%3E%3Cpath d='M3 12C3 11.4477 3.44772 11 4 11H20C20.5523 11 21 11.4477 21 12V12C21 12.5523 20.5523 13 20 13H4C3.44772 13 3 12.5523 3 12V12Z' fill='%232362CB'/%3E%3C/svg%3E")

        & .cart-item__content
          overflow: hidden
          transition: all .3s
          & .content-wrapper
            padding-top: 15px
            font-size: 16px
            line-height: 25px
            letter-spacing: 0.1px
            & ul, & ol
              padding-left: 25px
            & a
              color: $light-blue
              text-decoration: underline
        &.active
          & .cart-item__top
            &:before
              background-color: $light-blue
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 12C3 11.4477 3.44772 11 4 11H20C20.5523 11 21 11.4477 21 12V12C21 12.5523 20.5523 13 20 13H4C3.44772 13 3 12.5523 3 12V12Z' fill='white'/%3E%3C/svg%3E")
          & .cart-item__content
            max-height: var(--height-faq)!important


.factory-page__top
  display: grid
  grid-gap: 30px 0
  grid-template-columns: 1fr
  margin-bottom: 60px
  & .left
    & .title
      font-size: 28px
      line-height: 120%
      margin-bottom: 16px
    & .description
      margin-bottom: 16px
    & .link
      margin-bottom: 16px
      color: $light-blue
      display: inline-block
      text-decoration: underline
    & .btn-default
      line-height: 56px
      font-size: 14px
  & .right
    width: 100%
    & img
      width: 100%

.services-benefits
  display: grid
  grid-template-columns: 1fr
  grid-gap: 20px 0
  margin-bottom: 50px
  & .item
    background: #FFFFFF
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)
    border-radius: 0px 0px 10px 10px
    padding: 46px 20px
    border-top: 3px solid $light-blue
  & .icon
    width: 46px
    height: 46px
    margin-bottom: 16px
    & svg
      width: 100%
  & .text
    font-weight: 600
    font-size: 20px
    line-height: 120%

.services-rows
  margin-bottom: 50px
  & .services-row
    display: flex
    flex-direction: column
    margin-bottom: 50px
    gap: 20px
    &:last-child
      margin-bottom: 0
    & .other-slogan
      margin: 0!important
    & .img
      width: 100%
      & img
        width: 100%


.faq
  overflow: visible
  & .faq-item
    border-radius: 2px
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)
    padding: 16px
    margin-bottom: 16px
    &:last-child
      margin-bottom: 0
    & .faq-title
      display: flex
      align-items: center
      font-weight: 600
      font-size: 20px
      line-height: 120%
      cursor: pointer
      &:before
        content: ''
        min-width: 38px
        min-height: 38px
        max-width: 38px
        max-height: 38px
        margin-right: 12px
        background: #F7F7FF
        border-radius: 2px
        background-position: center
        background-repeat: no-repeat
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1C8 0.447716 8.44772 0 9 0C9.55228 0 10 0.447715 10 1V17C10 17.5523 9.55228 18 9 18C8.44772 18 8 17.5523 8 17V1Z' fill='%232362CB'/%3E%3Cpath d='M0 9C0 8.44772 0.447715 8 1 8H17C17.5523 8 18 8.44772 18 9C18 9.55228 17.5523 10 17 10H1C0.447716 10 0 9.55228 0 9Z' fill='%232362CB'/%3E%3C/svg%3E")
        transition: all .4s
    & .faq-content
      margin-left: 51px
      //max-height: 0px
      opacity: 0
      overflow: hidden
      transition: all .4s
      & p
        margin-top: 16px
        font-size: 16px
        line-height: 25px
        & strong
          font-weight: 600
          text-transform: uppercase
          font-size: 14px
      & ul
        list-style: none
        & li
          padding-left: 10px
          display: flex
          align-items: flex-start
          &:before
            content: ''
            display: block
            min-width: 6px
            min-height: 6px
            max-width: 6px
            max-height: 7px
            margin: 12px 10px 0 0
            background: $black
            border-radius: 50%
    &.active
      & .faq-content
        max-height: var(--height-faq)!important
        opacity: 1
      & .faq-title
        &:before
          background: $light-blue
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='3' viewBox='0 0 18 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1.25049C0 0.698204 0.447715 0.250488 1 0.250488H17C17.5523 0.250488 18 0.698204 18 1.25049V1.25049C18 1.80277 17.5523 2.25049 17 2.25049H1C0.447716 2.25049 0 1.80277 0 1.25049V1.25049Z' fill='white'/%3E%3C/svg%3E")
          background-position: center
          background-repeat: no-repeat


.three-d-examples
  & .cart-columns
    margin-bottom: 30px

.service-center-price
  margin-bottom: 50px
  & .price-content
    display: grid
    grid-template-columns: 1fr
    grid-gap: 15px 0
    & .item
      margin-bottom: 0!important

.service-center-faq
  background: #F7F7F7
  padding: 50px 0
  margin-bottom: 50px
  & .faq-content
    display: grid
    grid-template-columns: 1fr
    grid-gap: 16px 0
    & .faq-item
      background: white
      box-shadow: none

.slogan-buyers
  margin-top: -20px!important

.workers
  & .workers-content
    display: grid
    grid-template-columns: 1fr
    grid-gap: 10px 0
    margin-bottom: 30px
  & .item
    padding-bottom: 15px
    border-bottom: 1px solid #EDEDED
    display: flex
    align-items: center
    justify-content: space-between
    &:last-child
      padding-bottom: 0
      border: none
    & .left
      display: flex
      align-items: center
    & .worker-img
      min-width: 71px
      max-width: 71px
      min-height: 71px
      max-height: 71px
      margin-right: 16px
      //flex: 0
      & img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 6px
    & .worker-position
      font-weight: 500
      font-size: 18px
      line-height: 136%
      color: #0F1828
      margin-bottom: 2px
      //flex: 0
      & span
        display: block
        font-weight: 400
        font-size: 16px
        line-height: 150%
        color: #888787
    & .right
      display: flex
      flex-direction: column
      align-items: flex-end
      gap: 12px 0
      & .worker-phone, & .worker-mail
        font-size: 16px
        line-height: 150%
        color: #0F1828
        display: flex
        flex-direction: column


.contact-columns
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: repeat(2, auto)
  justify-content: space-between
  align-items: center
  position: relative
  padding: 50px 0px
  grid-gap: 50px 0
  background: #F7F7F7
  border-radius: 6px
  margin-bottom: 30px
  & .line
    margin: 0 auto
    height: 1px
    width: 75%
    background: #C8C8C8
  & .col
    margin: 0 auto
    &._top
      max-width: 265px
    &._bottom
      max-width: 290px
    & .col-title
      font-weight: 700
      font-size: 24px
      line-height: 32px
      text-align: center
      margin-bottom: 12px
    & .col-item
      position: relative
      display: flex
      align-items: flex-start
      justify-content: flex-start
      padding: 5px 0 5px 30px
      margin-bottom: 10px
      &:before
        content: ''
        position: absolute
        left: 0
        top: 6px
        width: 24px
        height: 24px
        @include bg-center
          background-size: contain
      & p
        font-size: 16px
      & a
        font-size: inherit
        display: inline-block
      &._address
        &:before
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20V14H14V20H19V12H22L12 3L2 12H5V20H10Z' fill='%232362CB'/%3E%3C/svg%3E")
      &._phones
        &:before
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 1H8C6.34 1 5 2.34 5 4V20C5 21.66 6.34 23 8 23H16C17.66 23 19 21.66 19 20V4C19 2.34 17.66 1 16 1ZM14 21H10V20H14V21ZM17.25 18H6.75V4H17.25V18Z' fill='%232362CB'/%3E%3C/svg%3E")
      &._time
        margin-bottom: 0
        &:before
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z' fill='%232362CB'/%3E%3Cpath d='M12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z' fill='%232362CB'/%3E%3C/svg%3E")


.contact-rows
  margin-bottom: 50px
  & .row
    border-bottom: 1px solid #EDEDED
    padding: 12px 0
    &:first-child
      border-top: 1px solid #EDEDED
    & .left
      padding: 5px 0
      margin-bottom: 6px
      & p
        font-weight: 600
        font-size: 18px
        line-height: 25px
        color: #0F1828
    & .center
      display: flex
      align-items: center
      flex-wrap: wrap
      grid-gap: 0 10px
      padding: 6px 0
      & a
        display: flex
        align-items: center
        min-height: 40px


.shpat-content
  margin-bottom: 50px
  & .item
    margin-bottom: 60px
    &:last-child
      margin-bottom: 0
    & .img
      width: 100%
      & img
        width: 100%
        border-radius: 6px

.infographics-block
  display: flex
  flex-direction: column
  align-items: center
  background: #F7F7F7
  border-radius: 6px
  padding: 20px 10px
  & .item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border-bottom: 1px solid #C8C8C8
    width: 100%
    max-width: calc(100% - 50px)
    padding: 20px 0
    &:first-child
      padding-top: 0
    &:last-child
      padding-bottom: 0
      border: none
    & .item-title
      font-weight: 700
      font-size: 36px
      line-height: 130%
      text-align: center
      max-width: 180px
      padding-bottom: 5px
    & .item-desc
      font-weight: 400
      font-size: 16px
      line-height: 150%
      color: $light-blue
      text-align: center
      max-width: 180px

.other-video
  margin-bottom: 50px
  position: relative
  & video
    cursor: pointer
    width: 100%
    max-width: 100%
  & .controls
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    background: white
    border-radius: 50%
    cursor: pointer
    transition: all .3s
    &:before
      content: ''
      width: 15px
      height: 15px
      display: block
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      transition: all .3s
    &:hover
      &:before
        transform: scale(1.3)
  &._paused
    & .controls
      opacity: 1
      &:before
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 14L7 26.1244L7 1.87564L28 14Z' fill='%232362CB'/%3E%3C/svg%3E")
  &._played
    & .controls
      opacity: 0
    &:hover
      & .controls
        opacity: 1
        &:before
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9' y='2' width='3' height='24' fill='%232362CB'/%3E%3Crect x='16' y='2' width='3' height='24' fill='%232362CB'/%3E%3C/svg%3E")


// Promotions
.promotions-filters
  display: flex
  flex-wrap: nowrap
  align-items: flex-start
  gap: 0 15px
  overflow: auto
  margin-right: -20px
  padding-right: 20px
  scrollbar-width: none
  -ms-overflow-style: none
  width: calc(100% + 15px)
  &::-webkit-scrollbar
    display: none
  & .item
    min-width: 184px
    max-width: 184px
    border: 1px solid rgba(0,0,0,0)
    border-radius: 2px
    &.active
      border-color: $light-blue
  & img
    display: block
    width: 100%
    height: 102px
    object-fit: cover
    margin-bottom: 6px
    border-radius: 2px 2px 0 0
  & p
    font-weight: 500
    font-size: 14px
    line-height: 18px
    min-height: 50px
    text-align: center
    display: flex
    align-items: center
    justify-content: center

.goods-slider-wrapper
  .goods
    & .title
      font-size: 24px
      line-height: 120%

.promotions-wrapper
  margin-bottom: 50px
  & .cart-columns
    margin-bottom: 30px

.promo-producer__cart-columns
  &._big
    margin-bottom: 30px
  &:not(._big)
    & .cart-item
      & a
        & .goods-label
          position: absolute
          left: 10px
          top: 10px

.promo-catalog__banner
  position: relative
  margin-top: -20px
  & img
    width: 100%
  & .goods-label
    position: absolute
    left: 10px
    top: 10px

.promo-catalog
  & .sort-block
    display: flex
    flex-direction: column
    border-bottom: 1px solid #F1F1F1
    padding: 0 0 20px 0
    & .text-find
      display: block
      font-weight: 600
      font-size: 16px
      line-height: 28px
      letter-spacing: 0.15px
      margin-bottom: 10px
    & .sort-content
      display: flex
      align-items: center
      justify-content: space-between
      & .select
        width: 200px
        //& .select__toggle
        //  height: 48px
        //  & label
        //    left: 16px
        //    font-size: 14px
        //  & button
        //    padding-left: 16px
        //    font-size: 14px!important
        //  &:after
        //    right: 9px
        //& .select__option
        //  font-size: 14px
        //  padding: 5px 42px 5px 10px
        //  margin: 3px 0
        & .select__dropdown
          top: calc(100% + 3px)
        & .select__option_selected
          &::after
            width: 16px
            height: 16px
        &.select_show
          & .select__toggle
            & label
              font-size: 11px

      & .catalog-display
        display: none
        &._mob
          flex: 0
          min-width: 58px
          height: 58px
          //height: 100%
          border: 1px solid rgba(27, 31, 35, 0.15)
          border-radius: 2px
          display: flex
          justify-content: center
          align-items: center
          & .catalog-display__switcher
            width: 24px
            height: 24px
            position: relative
            & span
              position: absolute
              width: 11px
              height: 11px
              background: $dark-blue
              transition: all .1s ease-in-out
              &:nth-child(1)
                top: 0
                left: 0
              &:nth-child(2)
                top: 0
                right: 0
              &:nth-child(3)
                top: 50%
                left: 0
                transform: translateY(-50%) scale(0)
              &:nth-child(4)
                top: 50%
                right: 0
                transform: translateY(-50%) scale(0)
              &:nth-child(5)
                bottom: 0
                left: 0
              &:nth-child(6)
                right: 0
                bottom: 0
          &.active
            & .catalog-display__switcher
              width: 30px
              height: 26px
              & span
                height: 7px
                &:nth-child(1)
                  width: 7px
                &:nth-child(2)
                  width: 20px
                &:nth-child(3)
                  width: 7px
                  transform: translateY(-50%) scale(1)
                &:nth-child(4)
                  width: 20px
                  transform: translateY(-50%) scale(1)
                &:nth-child(5)
                  width: 7px
                &:nth-child(6)
                  width: 20px

  & .list-content
    display: grid
    grid-template-columns: repeat(2,minmax(100px,400px))
    grid-gap: 30px 20px
    margin-bottom: 20px
    & .cart-goods
      position: relative
      & .bottom
        & .name, & .characteristics
          display: none
      & .horizontal-params
        display: none
    &.horizontal
      display: block
      grid-gap: 0
      & .cart-goods
        display: grid
        grid-template-columns: 200px minmax(100px, 500px)
        grid-template-rows: repeat(2, auto)
        padding-top: 47px
        grid-gap: 20px 12px
        margin-bottom: 30px
        &:last-child
          margin-bottom: 0
        & .slider-cart-img
          padding-bottom: 0
          margin-bottom: 0
          & .swiper-pagination
            bottom: 10px
        & .top
          & .control-buttons
            position: absolute
            top: 0
            left: 0
            width: 100%
            & .compare
              &:before
                width: 34px
                height: 34px
              & p
                font-size: 20px
                line-height: 100%
            & .like
              width: 34px
              height: 34px
          & .name, & .characteristics
            display: none
        & .bottom
          display: flex
          flex-direction: column
          & .name
            display: block
          & .btn-cart-goods
            display: none
          & .characteristics
            display: block
            flex: 2
            & span
              font-size: 17px
        & .horizontal-params
          display: block
          grid-column: 1 / -1
          & .price-calc, & .measurement, & .measurement-text
            display: none
        & .btns
          display: flex
          align-items: center
          margin-top: 20px
          & .btn-detail
            flex: 1 1 50%
            height: 58px
            display: flex
            align-items: center
            justify-content: center
            background: #C8C8C8
            font-weight: 600
            font-size: 16px
            line-height: 20px
            letter-spacing: 0.0116em
            border: 1px solid rgba(27, 31, 35, 0.15)
            box-sizing: border-box
            border-radius: 2px
            margin-right: 20px
          & .btn-cart-goods
            flex: 1 1 50%
            margin-top: 0

.promotion-single
  position: relative
  padding-top: 30px
  margin-bottom: 30px
  & .slider-promotion
    width: 100%
    margin-bottom: 30px
    & .goods-label
      position: absolute
      left: 10px
      top: 10px
      z-index: 2
    & .slider-arrow
      display: none
      position: absolute
      top: 50%
      transform: translateY(-50%)
      z-index: 2
      &.arrow-right
        right: 20px
        transform: translateY(-50%) rotate(180deg)
      &.arrow-left
        left: 20px
    & .swiper-slide
      position: relative
      width: 100%
      padding-bottom: 100%
      & img
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover

  & .info
    & .control-buttons
      position: absolute
      left: 0
      top: 0
      width: 100%
      & .control-buttons__right
        display: flex
        align-items: center
      & .share
        width: 24px
        height: 24px
        margin-right: 15px
        cursor: pointer
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 16.08C17.24 16.08 16.56 16.38 16.04 16.85L8.91 12.7C8.96 12.47 9 12.24 9 12C9 11.76 8.96 11.53 8.91 11.3L15.96 7.19C16.5 7.69 17.21 8 18 8C19.66 8 21 6.66 21 5C21 3.34 19.66 2 18 2C16.34 2 15 3.34 15 5C15 5.24 15.04 5.47 15.09 5.7L8.04 9.81C7.5 9.31 6.79 9 6 9C4.34 9 3 10.34 3 12C3 13.66 4.34 15 6 15C6.79 15 7.5 14.69 8.04 14.19L15.16 18.35C15.11 18.56 15.08 18.78 15.08 19C15.08 20.61 16.39 21.92 18 21.92C19.61 21.92 20.92 20.61 20.92 19C20.92 17.39 19.61 16.08 18 16.08Z' fill='%23888787'/%3E%3C/svg%3E")
        @include bg-center
          background-size: contain
    & .name
      margin-bottom: 20px
    & .price
      font-size: 14px
      line-height: 16px
      margin-bottom: 6px
      & span
        font-weight: 600
        font-size: 16px
    & .cart-goods-alert
      font-size: 16px
      line-height: 120%
    & .quantity
      margin-top: 30px
      & .title-info
        & p
          font-weight: 600
          font-size: 20px
          line-height: 120%
          margin-bottom: 15px
      & .cart-calc
        display: grid
        grid-template-columns: auto 85px
        grid-template-rows: repeat(2, auto)
        grid-gap: 12px 20px
        & .counter
          & input
            font-size: 20px
          & .btn-count
            &.btn-decrement:before
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 14V13H18V14H7Z' fill='%23303437'/%3E%3C/svg%3E")
            &.btn-increment:before
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 12.3519V13.6481H13.7655V18H12.2671V13.6481H8V12.3519H12.2671V8H13.7655V12.3519H18Z' fill='%23303437'/%3E%3C/svg%3E")

        & .measurement
          display: block
          & .measurement-select
            font-size: 18px
          & .measurement-list
            & li
              font-size: 18px
        & .measurement-text
          color: #646464

.availability
  padding-bottom: 20px
  border-radius: 2px
  border: 1px solid #E1E4E8
  box-sizing: border-box
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)
  margin-bottom: 50px
  & .top
    font-weight: 600
    font-size: 20px
    line-height: 120%
    display: flex
    justify-content: space-between
    padding: 20px 20px 0 20px
    &:after
      content: ''
      width: 24px
      height: 24px
      transition: transform .5s
      transform: rotate(180deg)
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.355 15.645L12 10.3017L6.645 15.645L5 14L12 7.00002L19 14L17.355 15.645Z' fill='%23888787'/%3E%3C/svg%3E")
      @include bg-center
        background-size: contain
  & .content
    display: none
    padding: 15px 20px 0 15px
    & .shop-list
      margin-top: 20px
      list-style: none
      & li
        margin-bottom: 20px
        & a
          display: inline-block
          font-weight: 600
          font-size: 18px
          line-height: 150%
          color: $light-blue
          margin-bottom: 2px
          position: relative
          &:before
            content: ''
            position: absolute
            bottom: 3px
            left: 0
            width: 100%
            height: 1px
            background: $light-blue
        & span
          display: block
          font-size: 16px
          line-height: 150%
        &:last-child
          margin-bottom: 0
  &.active
    & .top
      &:after
        transform: rotate(0deg)
    & .content
      display: block


.composition
  padding: 0 8px
  background: #F7F7F7
  margin-bottom: 30px
  & .composition-title
    font-weight: 700
    font-size: 24px
    line-height: 120%
    min-height: 50px
    display: flex
    align-items: center
  & .list
    & .item
      display: grid
      grid-template-columns: 165px auto
      grid-gap: 20px 14px
      padding: 30px 8px 8px 8px
      position: relative
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
      & .img
        width: 100%
        position: relative
        margin-bottom: 100%
        grid-column: 1/2
        grid-row: 1/2
        & img
          position: absolute
          top: 0
          left: 0
          object-fit: cover
      & .params
        & .control-buttons
          position: absolute
          left: 0
          top: 0
          width: 100%
          padding: 0 8px
          & p
            font-size: 14px
            line-height: 120%
        & .name
          font-weight: 600
          font-size: 16px
          line-height: 20px
          margin-bottom: 10px
        & .characteristics
          margin-bottom: 12px
          & p
            font-weight: 400
            font-size: 14px
            line-height: 18px
            color: #646464
        & .price
          font-weight: 400
          font-size: 14px
          line-height: 16px
          margin-bottom: 4px
          & span
            font-weight: 700
            font-size: 16px
        & .alert
          font-size: 14px
          line-height: 14px
      & .calc
        display: grid
        grid-template-columns: auto 85px
        grid-template-rows: repeat(2, auto)
        grid-gap: 12px 20px
        grid-column: 1/3
        grid-row: 2/3
        max-width: 280px
        & .counter
          & input
            font-size: 20px
          & .btn-count
            &.btn-decrement:before
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 14V13H18V14H7Z' fill='%23303437'/%3E%3C/svg%3E")
            &.btn-increment:before
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 12.3519V13.6481H13.7655V18H12.2671V13.6481H8V12.3519H12.2671V8H13.7655V12.3519H18Z' fill='%23303437'/%3E%3C/svg%3E")

        & .measurement
          display: block
          & .measurement-select
            font-size: 18px
          & .measurement-list
            & li
              font-size: 18px
        & .measurement-text
          color: #646464
          font-size: 14px
          line-height: 16px

.shops
  & .other-slogan
    margin-top: 0
  & .map-wrap
    height: 500px
    margin-bottom: 15px
    & #map
      width: 100%
      height: 100%
  & .total-found
    font-weight: 500
    font-size: 18px
    line-height: 25px
    margin-bottom: 10px
  & .list-wrap
    margin-bottom: 50px


@media screen and (min-width: 768px)
  .other-slogan
    margin: 20px 0 30px 0
    max-width: 480px
    & .slogan__subtitle
      font-weight: 500
      font-size: 14px
      line-height: 115%
      margin-bottom: 12px
    & .slogan__title
      font-size: 36px
      line-height: 130%
    & .slogan__description
      font-size: 16px
      line-height: 25px
      letter-spacing: 0.1px
    & .btn-default
      margin-top: 20px
      line-height: 46px

  .about-category__header-slider
    margin-bottom: 30px

  .cart-columns
    grid-template-columns: repeat(2, minmax(100px, 1000px))
    gap: 30px 20px


  .other-header
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 10px 45px 10px 30px
    min-height: 288px
    & .left
      & .title
        text-align: start
      & .desc
        text-align: start
        max-width: 325px
        font-size: 16px
    & .right
      min-width: 266px
      max-width: 266px
      margin: 0
  .help-banner
    padding: 10px 20px 10px 40px
    flex-direction: row
    align-items: center
    margin-bottom: 50px
    position: relative
    height: auto
    min-height: 295px
    border-radius: 2px
    &:after
      position: absolute
      bottom: 0
      right: 20px
      min-width: 296px
      max-width: 296px
      height: 315px
      padding-bottom: 0px
      background: url("../img/other/finance-bg_tablet.png")
    & .text
      width: 50%
      & .h3
        text-align: start
      & .description
        text-align: start
      & .callback-button
        display: inline-block
        padding: 14px 17px
        margin-bottom: 0

  .other-filter
    display: grid
    grid-template-columns: repeat(2, auto) 200px
    grid-gap: 0 20px
    & .btn-submit
      max-width: 200px
      padding: 19px 0

  .factories-content, .collection-content
    & .tab-content
      & .tab-element
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 20px 18px

  .services-benefits
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 30px 26px
    margin-bottom: 37px
    & .item
      padding: 30px 20px

  .factory-page__top
    //display: grid
    grid-gap: 20px 0
    margin-bottom: 30px
    & .left
      & .description
        font-size: 16px
        line-height: 25px
      & .btn-default
        max-width: 195px
        line-height: 46px
    & .right
      width: 100%
      & img
        width: 100%


  .services-rows
    & .services-row
      gap: 30px
      & .other-slogan
        max-width: 100%


  .service-center-price
    & .price-content
      grid-gap: 20px 0

  .faq
    & li
      font-size: 16px
      &:before
        margin: 11px 10px 0 0

  .contact-columns
    grid-template-columns: 265px 1px 290px
    justify-content: space-between
    align-items: center
    padding: 30px 45px
    grid-gap: 0 45px
    & .line
      width: 1px
      height: 160px
    & .col
      padding: 0!important
      & .col-item
        padding: 3px 0 3px 30px

  .contact-rows
    & .row
      display: flex
      align-items: center
      justify-content: space-between
      gap: 0 12px
      min-height: 93px
      & .left
        max-width: 285px
        margin: 0
        & p, & a
          font-size: 18px
      & .center
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        & a
          white-space: nowrap
          min-height: 100%
        & p, & a
          font-size: 16px
          line-height: 18px
      & .right
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-end
        & a
          white-space: nowrap
        & p, & a
          font-size: 16px
          line-height: 18px

  .shpat-content
    margin-bottom: 100px
    & .item
      display: grid
      grid-template-columns: minmax(auto, 486px) minmax(auto, 600px)
      align-items: center
      justify-content: space-between
      gap: 0 20px
      &:last-child
        margin-bottom: 0
      &:nth-child(even)
        grid-template-columns: minmax(auto, 600px) minmax(auto, 486px)
        & .img
          grid-column: 1/2
          grid-row: 1/2
        & .other-slogan
          grid-column: 2/3
          grid-row: 1/2


  .infographics-block
    flex-direction: row
    & .item
      border-bottom: none
      border-right: 1px solid #c8c8c8


  .other-video
    margin-bottom: 100px
    & .controls
      width: 70px
      height: 70px
      &:before
        width: 28px
        height: 28px

  .promo-catalog
    & .list-content
      grid-template-columns: repeat(3, minmax(100px,400px))
      &.horizontal
        & .cart-goods
          grid-template-columns: 180px minmax(100px, 1000px) 200px
          grid-template-rows: 1fr
          grid-gap: 0 12px
          margin-bottom: 20px
          & .bottom
            margin-right: 10px
          & .horizontal-params
            grid-column: 3 / 4
            & .measurement
              display: block
              & .measurement-select
                height: 48px
                line-height: 48px
            & .measurement-text
              grid-column: 1 / -1
              display: block
              font-weight: 400
              font-size: 14px
              line-height: 18px
              color: #646464
            & .price-calc
              display: block
              font-weight: 400
              font-size: 14px
              line-height: 18px
              margin-bottom: 8px
              & span
                font-weight: 700
                font-size: 16px
          & .slider-cart-img
            padding: 0

          & .cart-calc
            grid-template-columns: auto 70px
            & .counter
              height: 48px
          & .btns
            & .btn-detail
              display: none

          & .btns
            margin-top: 12px

  .promotion-single
    display: grid
    grid-template-columns: minmax(200px, 494px) auto
    grid-gap: 0 20px
    & .slider-promotion
      & .slider-arrow
        display: block
        width: 40px
        height: 40px
    & .info
      & .control-buttons
        position: static
        margin-bottom: 12px
      & .name
        font-size: 24px
        line-height: 32px
      & .quantity
        display: grid
        grid-template-columns: minmax(auto, 394px) auto
        grid-template-rows: repeat(2, auto)
        justify-content: start
        & .title-info
          grid-column: 1/-1
          grid-row: 1/2
        & .cart-calc
          margin-right: 15px
          & .counter
            height: 48px
          & .measurement
            & .measurement-select
              height: 48px
              line-height: 48px
          & .measurement-text
            line-height: 16px
        & .btn-cart-goods
          margin: 0
          min-width: 185px
          height: 48px
          cursor: pointer
          transition: all .2s
          & span
            font-size: 14px
          &:hover
            background: $light-blue

  .availability
    box-shadow: none
    margin-bottom: 30px
    max-width: 700px
    & .content
      display: block!important
    & .top
      pointer-events: none
      &:after
        display: none

  .composition
    padding: 0 16px 16px 16px
    margin-bottom: 80px
    & .composition-title
      font-size: 28px
      line-height: 36px
      min-height: auto
      padding: 16px 0 30px 0
    & .list
      & .item
        grid-template-columns: 165px auto auto
        grid-gap: 0 12px
        padding: 30px 0 0 0
        margin-bottom: 30px
        & .params
          display: flex
          flex-direction: column
          justify-content: space-between
          & .control-buttons
            padding: 0
        & .calc
          grid-column: auto
          grid-row: auto
          align-items: start
          height: fit-content
          margin: 0 0 0 auto
          & .counter
            height: 48px
          & .measurement
            & .measurement-select
              height: 48px
              line-height: 48px
          & .measurement-text
            line-height: 16px

  .shops
    & .map-wrap
      margin-bottom: 39px
    & .total-found
      margin-bottom: 15px
    & .list-wrap
      margin-bottom: 60px





@media screen and (min-width: 1200px)
  .about-category__header-slider
    margin-bottom: 40px
  .other-slogan
    margin: 20px 0
    max-width: 100%
    & br
      display: block
    & .slogan__subtitle
      font-weight: 600
      font-size: 16px
      line-height: 24px

  .cart-columns
    grid-template-columns: repeat(3, minmax(100px, 1000px))
    & .cart-item
      & a
        & .img
          padding-bottom: 53.34%
        & .cart-title
          padding: 36px 20px
          transition: all .4s
          font-size: 28px
          line-height: 33px
          &:after
            min-width: 30px
            max-width: 30px
            min-height: 30px
            max-height: 30px
            transition: all .4s
        &:hover
          & .cart-title
            color: $light-blue
            &:after
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9974 6.6665L17.6474 9.0165L26.9474 18.3332H6.66406V21.6665H26.9474L17.6474 30.9832L19.9974 33.3332L33.3307 19.9998L19.9974 6.6665Z' fill='%232362CB'/%3E%3C/svg%3E")

  .cart-columns__about-cat
    grid-template-columns: repeat(2, minmax(100px, 1000px))
  .other-header
    padding: 10px 85px 10px 100px
    min-height: 480px
    margin-bottom: 40px
    & .left
      & .desc
        max-width: 485px
    & .right
      min-width: 433px
      max-width: 433px

  .help-banner
    padding: 10px 20px 10px 40px
    margin-bottom: 85px
    min-height: 271px
    &:after
      bottom: -30px
      right: 93px
      min-width: 378px
      max-width: 378px
      height: 341px
      background: url("../img/other/finance-bg_desktop.png")
    & .text
      max-width: 510px
      & .description
        margin-bottom: 20px
      & .callback-button
        font-size: 14px
        line-height: 18px
        padding: 15px 27px
        cursor: pointer

  .download-cart
    & .desc
      font-size: 18px
      margin-bottom: 8px
    & .download
      font-weight: 500
      font-size: 15px
  .finances-files
    & .tabs
      margin-bottom: 16px
    & .tab-content
      & .tab-element
        & .item
          max-width: 880px
          margin-bottom: 12px
          animation: flipInX .5s

    & .pagination
      align-items: flex-start
      margin-bottom: 120px
      & .pagin-content
        margin-top: 30px

  .other-filter
    justify-content: center
    grid-template-columns: repeat(2, 328px) 220px
    grid-gap: 0 20px
    & .select__toggle
      height: 48px
    & .btn-submit
      padding: 14px 0

  .factories-content
    & .tab-content
      & .tab-element
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 30px 20px
        & .cart-item
          & .img
            padding-bottom: 60%


  .factory-page__top
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 0 22px
    margin-bottom: 40px
    & .left
      & .title
        font-size: 36px
        line-height: 130%
      & .description
        font-size: 16px
        line-height: 25px
      & .btn-default
        max-width: 195px
        line-height: 46px
    & .right
      width: 100%
      & img
        width: 100%

  .services-benefits
    grid-template-columns: repeat(4, 1fr)
    margin-bottom: 80px
    & .item
      padding: 0 20px
      min-height: 230px
      display: flex
      flex-direction: column
      justify-content: center

  .services-rows
    & .services-row
      display: flex
      flex-direction: row
      gap: 0
      justify-content: space-between
      align-items: center
      & .other-slogan
        max-width: 485px
        & .faq
          width: 570px
      & .img
        max-width: 600px
      &:nth-child(even)
        flex-direction: row-reverse

  .service-center-price
    & .price-content
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 12px 23px

  .service-center-faq
    & .faq
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 0 75px
      & .faq-item
        margin-bottom: 12px

  .columns-buyers
    grid-template-columns: repeat(3, 1fr)
    & .cart-item
      & a
        & .img
          padding-bottom: 60.01%
        & .cart-title
          font-size: 20px
          line-height: 27px

  .other-slogan
    & .slogan__description
      & li
        font-size: 16px
        &:before
          margin: 10px 10px 0 0

  .workers
    & .item
      & .right
        flex-direction: row
        & .worker-phone, & .worker-mail
          width: 350px
          text-align: center

  .contact-columns
    padding: 33px 150px
    & .col
      & .col-item
        &:before
          top: 3px


  .contact-rows
    margin-bottom: 80px
    & .row
      padding-right: 90px
      & .left
        width: 395px
        max-width: 100%
      & .right
        width: 356px
        align-items: center
        justify-content: center

  .infographics-block
    border-radius: 6px
    padding: 35px 100px
    & .item
      padding: 0

  // Promotions
  .promotions-filters
    display: flex
    flex-wrap: wrap
    padding: 0
    overflow: auto
    gap: 0 20px
    margin: 0 0 40px 0
    & .item
      max-width: 186px

  .promotions-wrapper
    margin-bottom: 60px
    & .cart-columns
      grid-template-columns: repeat(2,minmax(100px,1000px))
      grid-gap: 20px
    & .btn-border-wrapper
      display: flex
      justify-content: center
      & .btn-border
        width: 220px
        padding: 14px 0

  .promo-producer__cart-columns
    &._big
      margin-bottom: 40px
    &:not(._big)
      grid-template-columns: repeat(2, 1fr)
      margin-bottom: 25px
      & .cart-item
        & a
          & .goods-label
            position: absolute
            left: 20px
            top: 20px
            padding: 0 18px
            border-radius: 4px
            & span
              font-size: 16px
              line-height: 44px

  .promo-catalog
    & .sort-block
      flex-direction: row
      justify-content: space-between
      align-items: center
      & .text-find
        font-weight: 500
        margin-bottom: 0
      & .sort-content
        & .select
          width: 200px
          margin-right: 10px
          & .select__toggle
            height: 48px
            & label
              left: 16px
              font-size: 14px
            & button
              padding-left: 16px
              font-size: 14px!important
            &:after
              right: 9px
          & .select__option
            font-size: 14px
            padding: 5px 42px 5px 10px
            margin: 3px 0
          & .select__dropdown
            top: calc(100% + 3px)
          & .select__option_selected
            &::after
              width: 16px
              height: 16px
          &.select_show
            & .select__toggle
              & label
                font-size: 11px
        & .catalog-display
          display: flex
          cursor: pointer
          & div
            width: 40px
            height: 40px
            @include bg-center
              background-size: contain
            &._row
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='2' transform='matrix(1 0 0 -1 0.5 40)' fill='white'/%3E%3Cpath d='M12.5 21.8889H19.6111V29H12.5V21.8889ZM12.5 13H19.6111V20.1111H12.5V13ZM21.3889 13H28.5V20.1111H21.3889V13ZM21.3889 29V21.8889H28.5V29' fill='%23888787'/%3E%3C/svg%3E")
              &.active
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='2' transform='matrix(1 0 0 -1 0.5 40)' fill='white'/%3E%3Cpath d='M12.5 21.8889H19.6111V29H12.5V21.8889ZM12.5 13H19.6111V20.1111H12.5V13ZM21.3889 13H28.5V20.1111H21.3889V13ZM21.3889 29V21.8889H28.5V29' fill='%232362CB'/%3E%3C/svg%3E")
            &._column
              background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9994 29V24.4286H29.7137V29H15.9994ZM15.9994 13H29.7137V17.5714H15.9994V13ZM15.9994 18.7143H29.7137V23.2857H15.9994V18.7143ZM10.2852 24.4286H14.8566V29H10.2852V24.4286ZM10.2852 13H14.8566V17.5714H10.2852V13ZM10.2852 18.7143H14.8566V23.2857H10.2852V18.7143Z' fill='%23888787'/%3E%3C/svg%3E")
              &.active
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9994 29V24.4286H29.7137V29H15.9994ZM15.9994 13H29.7137V17.5714H15.9994V13ZM15.9994 18.7143H29.7137V23.2857H15.9994V18.7143ZM10.2852 24.4286H14.8566V29H10.2852V24.4286ZM10.2852 13H14.8566V17.5714H10.2852V13ZM10.2852 18.7143H14.8566V23.2857H10.2852V18.7143Z' fill='%232362CB'/%3E%3C/svg%3E")
          &._mob
            display: none
    & .list-content
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 28px 0
      & .cart-goods
        padding: 6px 12px 12px 12px
        cursor: pointer
        transition: all .5s
        &:hover
          //transform: scale(1.02)
          box-shadow: 0px 8px 8px rgb(38 45 51 / 20%)
      &.horizontal
        & .cart-goods
          padding-top: 35px
          grid-template-columns: 160px minmax(100px,1000px) 230px
          & .top
            & .control-buttons
              & .compare
                &:before
                  width: 24px
                  height: 24px
                & p
                  font-size: 14px
              & .like
                width: 24px
                height: 24px
          & .bottom
            & .name
              max-width: 440px
            & .characteristics
              & span
                font-size: 14px
